:root {
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --blue-hover: #2196f3;
  --roboto-font: Roboto;
  --raleway-font: Raleway;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
}
header {
  border-bottom: 1px solid #ececec;
}
main {
  background-color: var(--main-bg-color);
}
footer {
  background-color: var(--footer-bg-color);
}
h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}
button:hover {
  background-color: var(--blue-hover);
  color: white;
  border-color: var(--blue-hover);
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 10px;
}
/* index */
.header {
  background-color: var(--header-bg-color);
  display: flex;
  font-weight: 500;
  justify-content: center;
}
.header * {
  display: flex;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__logo {
  font-family: var(--raleway-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding: 24px 93px 25px 50px;
}
.header__logo--1stPart {
  color: var(--blue-hover);
}
.header__logo--2ndPart {
  color: #000000;
}
.header__navigation *:not(:last-child) {
  padding: 32px 23px;
}
.header__navigation--subpage {
  color: #212121;
}
.blueHover:hover {
  color: var(--blue-hover);
}
.header__navigation--lastSubage {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 23px;
}
.header__contact {
  padding-left: 100px;
  padding-right: 100px;
}
.header__contact--links {
  color: #757575;
  padding: 32px 25px 32px 25px;
}
.section {
  padding: 94px 0;
}
.slogan {
  background-color: var(--footer-bg-color);
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 200px;
}
.slogan__text {
  font-family: Roboto;
  text-align: center;
  line-height: 60px;
  font-size: 44px;
}
.slogan__button {
  background-color: var(--blue-hover);
  color: white;
  border-color: var(--blue-hover);
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 42px 10px 42px;
  font-weight: 700;
}
.lorem {
  background-color: white;
}
.lorem__div > * {
  display: flex;
}
.lorem__table * {
  margin: 0 10px;
  text-align: left;
}
.lorem__table--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}
.what_we_do {
  margin-top: -94px;
  background-color: white;
}
.what_we_do__photos {
  display: flex;
  justify-content: center;
}
.what_we_do__photos *:not(:last-child) {
  padding-right: 30px;
}
.our_team {
  background-color: #f5f4fa;
}
.our_team__photos {
  display: flex;
  justify-content: center;
}
.our_team__photos *:not(:last-child) {
  padding-right: 30px;
}
.our_team__table {
  border: 1px solid #eeeeee;
  margin: 0 10px;
  background-color: #ffffff;
  width: 240px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-right: 30px;
}
.our_team__names {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-left: 55px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.our_team__positions {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-left: 30px;
  padding-bottom: 30px;
  color: #757575;
}
.footer {
  padding-left: 13%;
}
.footer__logo {
  font-family: var(--raleway-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding: 24px 93px 25px 50px;
  margin-left: -90px;
}
.footer__logo--1stPart {
  color: var(--blue-hover);
}
.footer__logo--2ndPart {
  color: #ffffff;
}
.footer__adress {
  font-style: normal;
  margin-left: -39px;
}
.footer__adress * {
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer__adress--adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer__adress--contact {
  color: #ffffff99;
}
/* porfolio */
.bookmarks__buttons {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.bookmarks__buttons--button {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-inline: 8px;
}
.tiles {
  margin-top: 50px;
}
.tiles__table {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.tiles__table--frame {
  border: 1px solid #eeeeee;
}
.tiles__table--category {
  padding: 20px 24px 2px 24px;
}
.tiles__table--subscription {
  padding: 2px 24px 20px 24px;
  color: #757575;
}
.footer__adress--contactPortfolio {
  color: #ffffff99;
  text-decoration-line: underline;
}
