:root {
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --blue-hover: #2196f3;
  --roboto-font: Roboto;
  --raleway-font: Raleway;
}
body {
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header {
  border-bottom-style: solid;
  background-color: var(--header-bg-color);
  display: flex;
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  justify-content: center;
}
.header * {
  display: flex;
}
main {
  background-color: var(--main-bg-color);
}
footer {
  background-color: var(--footer-bg-color);
}

.webStudio {
  font-family: var(--raleway-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;

  margin-right: 5px;
}
.web {
  color: var(--blue-hover);
}
.studio {
  color: #000000;
}
.studio2 {
  color: #ffffff;
}
a {
  text-decoration: none;
}
.bookmarksButtons {
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-inline: 8px;
}
h4 {
  font-family: var(--roboto-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}
p {
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.adressFooter {
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.kontaktStopka {
  color: #ffffff99;
}
ul {
  list-style-type: none;
}
.orderService {
  background-color: var(--blue-hover);
  color: white;
  border-color: var(--blue-hover);
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  margin: 0 auto;
}

button:hover {
  background-color: var(--blue-hover);
  color: white;
  border-color: var(--blue-hover);
}
.whiteLink {
  color: #ffffff99;
}
.greyLink {
  color: #757575;
}
.blackLink {
  color: #212121;
}
.blueHoverLink:hover {
  color: var(--blue-hover);
}
.blackBackground {
  background-color: var(--footer-bg-color);
  color: white;
  font-family: var(--roboto-font);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}
h3 {
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.loremIpsum {
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
  max-width: 270px;
}
.liLoremIpsum {
  margin: 0 10px;
  text-align: left;
}
.whatWeDo {
  font-family: var(--roboto-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.bgLoremIpsum > * {
  display: flex;
}
h2 {
  font-family: var(--roboto-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-content: center;
}
.workersName {
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.position {
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.ourTeam {
  background-color: #f5f4fa;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.whatWeDoPhotos {
  display: flex;
}
.ourTeamPhotos {
  display: flex;
}
.whatWeDoPhotos * {
  padding-right: 10px;
}
.ourTeamPhotos * {
  padding-right: 10px;
}

.portfolioPhotosWithLabels {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
  /* flex-shrink: 0.3; */
  justify-content: center;
}

.navigation *:not(:last-child) {
  padding-right: 10px;
}
.links *:not(:last-child) {
  padding-right: 10px;
}
.links {
  margin-left: 100px;
}
/* nav {
  justify-content: center;
} */
.section {
  padding: 94px 0;
}
.efective {
  font-family: Roboto;

  text-align: center;
  line-height: 90px;
}
.buttons {
  display: flex;
  justify-content: center;
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.item {
  border: 1px solid #eeeeee;
}
.team {
  border: 1px solid #eeeeee;
  margin: 0 10px;
  background-color: #ffffff;
  max-width: 260px;
}
.team > * {
  display: flex;
  justify-content: center;
}
.footer {
  padding-left: 215px;
}
.adress {
  font-style: normal;
  margin-left: -39px;
}
