:root {
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --blue-hover: #2196f3;
  --roboto-font: Roboto;
  --raleway-font: Raleway;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--roboto-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
}
header {
  border-bottom: 1px solid #ececec;
}
main {
  background-color: var(--main-bg-color);
}
footer {
  background-color: var(--footer-bg-color);
}
h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}
button:hover {
  background-color: var(--blue-hover);
  color: white;
  border-color: var(--blue-hover);
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  padding-bottom: 10px;
}
h2 {
  padding-bottom: 50px;
}
.header {
  background-color: var(--header-bg-color);
  display: flex;

  font-weight: 500;
  justify-content: center;
}
.header * {
  display: flex;
}

.webStudio {
  font-family: var(--raleway-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding: 24px 93px 25px 50px;
}
.webStudioFooter {
  font-family: var(--raleway-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding: 24px 93px 25px 50px;
  margin-left: -90px;
}
.web {
  color: var(--blue-hover);
}
.studio {
  color: #000000;
}
.studio2 {
  color: #ffffff;
}

.bookmarksButtons {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-inline: 8px;
}

.adressFooter {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.kontaktStopka {
  color: #ffffff99;
}

.orderService {
  background-color: var(--blue-hover);
  color: white;
  border-color: var(--blue-hover);
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 42px 10px 42px;
  font-weight: 700;
}

.whiteLink {
  color: #ffffff99;
}
.greyLink {
  color: #757575;
  padding: 32px 25px 32px 25px;
}
.blackLink {
  color: #212121;
}
.blueHoverLink:hover {
  color: var(--blue-hover);
}
.blackBackground {
  background-color: var(--footer-bg-color);
  color: white;

  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}

.loremIpsum {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
  max-width: 270px;
}
.liLoremIpsum * {
  margin: 0 10px;
  text-align: left;
}
.whatWeDo {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: left;
}

.bgLoremIpsum > * {
  display: flex;
}
.whatWeDoSection {
  margin-top: -94px;
}

.workersName {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-left: 55px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-left: 30px;
  padding-bottom: 30px;
}
.ourTeam {
  background-color: #f5f4fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.whatWeDoPhotos {
  display: flex;
  justify-content: center;
}
.ourTeamPhotos {
  display: flex;
  justify-content: center;
}
.whatWeDoPhotos *:not(:last-child) {
  padding-right: 30px;
}

.ourTeamPhotos *:not(:last-child) {
  padding-right: 30px;
}

.portfolioPhotosWithLabels {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.navigation *:not(:last-child) {
  padding: 32px 23px;
}
.navigation-last {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 23px;
}
.links {
  padding-left: 100px;
  padding-right: 100px;
}
.photosWithLabels {
  margin-top: -145px;
}
/* .links *:not(:last-child) {
  padding: 32px 25px;
} */
/* .links:last-child {
  margin-right: 19%;
  padding: 32px 0 32px 25px;
} */
.section {
  padding: 94px 0;
}

.efective {
  font-family: Roboto;
  text-align: center;
  line-height: 60px;
  font-size: 44px;
}
/* .blackBackgroundSection {
  margin-top: -153px;
} */
.buttons {
  display: flex;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.item {
  border: 1px solid #eeeeee;
}
.team {
  border: 1px solid #eeeeee;
  margin: 0 10px;
  background-color: #ffffff;
  width: 240px;
}
.team {
  padding-right: 30px;
}
/* .team > * {
  display: flex;
  justify-content: center;
} */
.footer {
  padding-left: 13%;
}
.adress {
  font-style: normal;
  margin-left: -39px;
}
.photosWithlabelsH4 {
  padding: 20px 24px 2px 24px;
}
.photosWithlabelsH42 {
  padding: 2px 24px 20px 24px;
}
